@layer utils {
  .drawerContent {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
  }

  .menuButton {
    height: 56px;
    justify-content: flex-start;
    flex-shrink: 0;
    color: var(--text-primary);
  }
}

.menuContainer {
  display: none;
}

@media (max-width: 1040px) {
  .menuContainer {
    display: flex;
  }
}