@layer utils {
  .drawerContent {
    display: flex;
    flex-direction: column;
  }

  .menuButton {
    height: 56px;
    justify-content: flex-start;
    flex-shrink: 0;
    color: var(--text-primary);
  }

  .selectedMenuButton {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.menuContainer {
  display: none;
}

.menuTitle {
  width: 100%;
  height: var(--header-height);
  flex-shrink: 0;
  padding: 0 12px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

@media (max-width: 1040px) {
  .menuContainer {
    display: flex;
  }
}