.infoWrap {
  padding-left: var(--regionList-width);
  width: 100%;
}

.infoContent {
  padding: 10px;
  height: 100%;
}

.infoTitle {
  display: block;
  text-align: center;
  margin-bottom: 28px;
}

.predictionButtonWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.nonselectedContent {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary);
  user-select: none;
}

@media (max-width: 1040px) {
  .infoWrap {
    padding-left: 0;
  }
}