.contentWrap {
  width: var(--min-body-width);
  padding: 20px;
  background-color: var(--default-bgColor);
  border-radius: 10px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.titleWrap {
  display: flex;
  flex-direction: column;
}

.yearsBlock {
  display: flex;
  align-items: center;
  gap: 4px;
}