@layer utils {
  .footerContainer {
    height: var(--footer-height);
    border-top: 1px solid var(--default-bColor);
  }

  .footerContent {}
}

@media (max-width: 640px) {
  @layer utils {
    .footerContainer {
      height: auto;
    }

    .footerContent {
      flex-direction: column;
      align-items: start;
      padding: 15px 20px;
    }
  }
}