.rootContainer {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.contentWrap {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  display: flex;
  flex: 1 0 auto;
}