@layer base, components, utilities;
/* base - basic themes */
/* components - component modules */
/* utilities - custom classes-redefinitions */

:root {
  --lower-font-size: 12px;
  --lower-line-height: 16px;
  --default-font-size: 16px;
  --default-line-height: 20px;
  --root-font-family: "Roboto Mono", monospace;
  --text-primary: #1A1A1A;
  --text-secondary: #737373;
  --header-height: 48px;
  --footer-height: 48px;
  --max-content-width: 1280px;
  --default-bColor: #DCDCDC;
  --default-bgColor: #EEEEEE;
  --default-layout-icon-size: 24px;
  --lower-layout-icon-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: var(--default-bgColor);
}