@layer utils {
  .regionButton {
    border-radius: 100px;
    height: 48px;
    justify-content: flex-start;
    flex-shrink: 0;
    color: var(--text-primary);
  }
}

.listContainer {
  width: var(--regionList-width);
  border-right: 1px solid var(--default-bColor);
  height: calc(100dvh - var(--header-height) - var(--footer-height));
  overflow-y: auto;
  position: fixed;
}

.listContent {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1040px) {
  .listContainer {
    display: none;
  }
}