@layer utlities {
  .creatorWrap {
    width: var(--lower-layout-icon-size);
    height: var(--lower-layout-icon-size);
  }
}

.creatorZone {
  display: flex;
}

@media (max-width: 1040px) {
  .creatorZone {
    display: none;
  }
}